In [2]:
#describe()
import pandas as pd
df = pd.read_csv("E:\\Data Science\\Pandas\\taxonomy.csv.xls")

In [3]:
df.describe()

       taxonomy_id          name  parent_id       parent_name
count          290           290        279               279
unique         290           183         60                50
top            101  Nursing Home  106-06-07  Health Education
freq             1             4         11                15

In [4]:
#shape()
df.shape

(290, 4)

In [5]:
#columns
df.columns

Index(['taxonomy_id', 'name', 'parent_id', 'parent_name'], dtype='object')

In [6]:
#dtypes
df.dtypes

taxonomy_id    object
name           object
parent_id      object
parent_name    object
dtype: object

In [8]:
#groupby
df.groupby(by='taxonomy_id')

Q2)

In [9]:
data = {"A":['Physics',"Chemistry","Maths"],
        'B':['Peter','Harry',"Steven"],
        'c':[88,89,78]
       }

Q3)

In [11]:
df2 = pd.DataFrame({'Values':[11,22,33,44,55,66,77,88,99,100]})
print(df2.head(3).sum())

Values    66
dtype: int64

Q4)

In [16]:
pd.set_option("display.max_colwidth" ,1000)
df3 = pd.DataFrame({'Text':["Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.","This is AIML classroom","This is E & TC classroom"]})

In [17]:
df3

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Text
0  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          This is AIML classroom
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        This is E & TC classroom

In [18]:
df3['word_count'] = df3["Text"].apply(lambda x : len(x.split()))

In [19]:
df3

,Text,word_count
0,"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",91
1,This is AIML classroom,4
2,This is E & TC classroom,6

Q5)

DataFrame.shape will give the total number of columns and total number of rows of given dataset DataFrame.size will give how many blocks are present in the dataset.It will multiply columns and rows

Q6)pd.read_excel() function is used read an excel file

Q7)

In [25]:
df4 = pd.DataFrame({"Email":['parthbagal@gmail.com','peterparker@gmail.com','harryosborn@gmail.com']})
df4["Email"]

0     parthbagal@gmail.com
1    peterparker@gmail.com
2    harryosborn@gmail.com
Name: Email, dtype: object

In [26]:
def username_extractor(df):
    df['username'] = df["Email"].str.split("@").str[0]

In [29]:
df4

                   Email     username
0   parthbagal@gmail.com   parthbagal
1  peterparker@gmail.com  peterparker
2  harryosborn@gmail.com  harryosborn

Q8)

In [30]:
df5 = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
df5

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [32]:
df6 = df5[(df5['A']>5) & (df5['B']<10)]

In [33]:
df6

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9)

In [34]:
df2

   Values
0      11
1      22
2      33
3      44
4      55
5      66
6      77
7      88
8      99
9     100

In [35]:
df2.mean()

Values    59.5
dtype: float64

In [36]:
df2.std()

Values    31.767384
dtype: float64

In [37]:
df2.median()

Values    60.5
dtype: float64

Q10)

Q11)

In [38]:
df7 = pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})

In [39]:
df7

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

In [47]:
df7['Date'] = pd.to_datetime(df7['Date'])

In [82]:
def weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')

In [83]:
weekday_column(df7)

In [84]:
df7

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12)

In [89]:
def time_range(s,e):
    date = pd.date_range(start = s , end = e)
    print(date)

In [90]:
time_range('2023-01-01','2023-01-31')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')